<html>
<head>
    <title>Affirmations</title>

    <link href="css\affirmations.css" rel="stylesheet">
</head>

<h1>Affirmations</h1>

<body>

    <div class="homeButton">
        <a href="/">
            <button id="home">Home</button>
        </a>
    </div>

    <div id="backgroundimage">
        <div>
        <a href = "/getAffirmations">
            <button id="rollButton">Get Affirmation</button>
        </a>
    </div>
    <div>
        <a href = "/affirmationEdit">
            <button id="editButton"><img src="https://i.imgur.com/MrsoLeq.png"></button>
        </a>
    </div>
    </div>
</body>

</html>