<html>
<head>
    <title>Affirmations</title>

    <link href="css\affirmations.css" rel="stylesheet">
</head>

<h1>Affirmations</h1>

<body>

    <div class="homebutton">
        <a href="/">
            <button><img src = "https://i.imgur.com/DU262FL.png"></button>
        </a>
    </div>

    <div id="backgroundimage">
    <div>
        <a href = "/affirmationEdit">
            <button id="editButton"><img src="https://i.imgur.com/MrsoLeq.png"></button>
        </a>
    </div>
    <div>
            <h4 id="affirmations"> hello </h4>
        </div>
    <div>
            <button id="rollButton" onclick="getRandom()">Get Affirmation</button>
    </div>
    </div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/affirmations.js"></script>

</body>

</html>