<html>
<head>
    <title>Affirmations</title>

    <link href="css\affirmations.css" rel="stylesheet">
</head>
<h1>Affirmations</h1>

<body>
    <div id="affirmationMessageDiv">
        <div id="messageDiv">
        <p id="message">
            Sample Affirmation
        </p>
        <form action="/add">
        <h3>Add Affirmation</h3>
        <div>
          
          <input type="text" class="form-control" id="name" placeholder="Affirmation Here" name="affirmation ">
        </div>
       <a href="/"><input type="submit" value="Submit"></a>
    </form>
        </div>
        <div id="rollDiv">
            <a href = "/affirmationEdit">
        <button id="rollButton">
            Edit Affirmation
        </button>
    </a>
        </div>
    </div>

      <div id="continueDiv">
        <a href="/">
        <button class="homebutton">
            Home
        </button>
        </a>
      </div>
    
</body>

</html>