<html>
<head>
    <title>Affirmations</title>

    <link href="css\affirmations.css" rel="stylesheet">
</head>


<body>

    <div class="homebutton">
        <a href="/">
            <button><img id="home" src = "https://i.imgur.com/DU262FL.png"></button>
        </a>
    </div>

    <div id="title">
        <h2>Affirmations</h2>
        <div id = "subtitle">
        <p>Validate your efforts through self-encouragement</p>
    </div>
    </div>

    <div id="backgroundimage">
    <div>
        <a href = "/affirmationEdit">
            <button id="editButton"><img src="https://i.imgur.com/MrsoLeq.png"></button>
        </a>
    </div>
    <div>
            <h4 id="affirmations"> hello </h4>
        </div>
    <div>
            <button id="rollButton" onclick="getRandom()">Affirm Myself</button>
    </div>
    </div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/affirmations.js"></script>

</body>

</html>