<html>
<head>
    <title>Affirmations</title>

    <link href="css\affirmations.css" rel="stylesheet">
</head>
<h1>Affirmations</h1>

<body>
    <div id="affirmationMessageDiv">
        <div id="messageDiv">
        <p id="message">
            Sample Affirmation
        </p>
        </div>
        <div id="rollDiv">
        <button id="rollButton">
            Edit Affirmation
        </button>
        </div>
    </div>

      <div id="continueDiv">
        <a href="/">
        <button class="homebutton">
            Home
        </button>
        </a>

    </div>
</body>

</html>