<html>
<head>
	<title>Check In</title>
		<link href="css\checkin.css" rel="stylesheet">
</head>


<h1>Step 3</h1>

<body>


<div id="q1">
	<p>
		How do you feel after completing this step...
	</p>

</div>



<div class="progressButtonDiv">
	<a href="/progress">
		<button class="progressButton">
			Done
		</button>
	</a>
</div>

</body>
</html>
