<html>
<head>
	<title>Check In</title>
		<link href="css\checkin.css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>


<h1>Practice Exam</h1>

<body>

	<div class="questions">
        <input type="text" id="q1" placeholder="How did this help you reach your goal?">
        <input type="text" id="q2" placeholder="How do you feel after completing this?">
        <input type="text" id="q3" placeholder="What did you gain from this?">
    </div>



	<div class="progressButtonDiv">
		<a href="/progress">
			<button class="progressButton">
				Done
			</button>
		</a>
	</div>

</body>
</html>
