<html>
<head>
	<title>Check In</title>
		<link href="css\checkin.css" type="text/css" rel="stylesheet">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<style>
			#q1, #q2, #q3 {
			height: 10%;
			width: 90%;
			margin: 8px;
			padding: 12px 20px;
			display: inline-block;
			border: 2px solid #3EBDCF;
			box-sizing: border-box;
			}
		</style>
</head>


<h1 id="title">{{stepName}}</h1>
<h2>Step: <span id="stepNum">{{index}}</span></h2>

<body>

	<div class="questions">
        <input type="text" id="q1" placeholder="How did this help you reach your goal?">
        <input type="text" id="q2" placeholder="How do you feel after completing this?">
        <input type="text" id="q3" placeholder="What did you gain from this?">
    </div>



	<div class="progressButtonDiv">
		<a href="/progress">
			<button class="progressButton" onclick="nextPage()">
				Done
			</button>
		</a>
	</div>
    <script src="/js/jquery-1.11.0.js"></script>
    <script src="/js/bootstrap.js"></script>
    <script src="/js/checkin.js"></script>
</body>
</html>
