<html>
<head>
    <title>Evaluate</title>

    <link href="css\evaluateReflect.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!--div class="homeButton">
        <a href="/">
            <button id="home">
                <img src = "https://i.imgur.com/DU262FL.png">
            </button>
        </a>
</div>-->


<body>

    <div id="title">
        <h3>Pause and evaluate your motivations.</h3>
    </div>
   

        <div class="questions">
            <input type="text" id="q1" placeholder="Why did you select this to focus on?">
            <input type="text" id="q2" placeholder="What do you want out of this?">
            <input type="text" id="q3" placeholder="How do you feel towards this?">
        </div>


    <div id="continueDiv">
        <a href="/stepsReflect">
        <button>
            Save
        </button>
        </a>
    </div>

    <div class="backButton">
        <a href="/selectReflect">
            <button id="back">Back</button>
        </a>
    </div>

</body>

</html>