<html>
<head>
    <title>Evaluate</title>

    <link href="css\evaluateReflect.css" rel="stylesheet">
</head>

<div class="homeButton">
        <a href="/">
            <button id="home">Home</button>
        </a>
</div>


<body>

    <div id="title">
        <h3>Please evaluate your motivations</h3>
    </div>
   

    <div id="continueDiv">
        <a href="/stepsReflect">
        <button>
            Continue
        </button>
        </a>
    </div>

    <div class="backButton">
        <a href="/selectReflect">
            <button id="back">Back</button>
        </a>
    </div>

</body>

</html>