<html>
<head>
	<title>Nimbus</title>
			<link href="css\index.css" rel="stylesheet">
</head>
<h1>Nimbus</h1>
<body>
<div id="center">
	<div id="reflect-box">
		<a href="/reflect"><button class="button1 hover">Reflect</button></a>
	</div>
	<div id="affirmations-box">
		<a href="/affirmations"><button class="button2 hover">Affirmations</button></a>
	</div>
	<div id="progress-box">
		<a href="/progress"><button class="button3 hover">Progress</button></a>
	</div>
</div>
</body>
</html>
