<html>
<head>
	<title>Nimbus</title>
			<link href="css\index.css" rel="stylesheet">
</head>
<div class="container">
	<img src="https://i.imgur.com/qJJGp11.png" alt="Norway" style="width:60%;">
	<div class="centered">Nimbus</div>
</div>
<body>
<div id="center">
	<div>
		<a href="/reflect"><button class="button1 hover">Reflect</button></a>
	</div>
	<div>
		<a href="/affirmations"><button class="button2 hover">Affirmations</button></a>
	</div>
	<div>
		<a href="/progress"><button class="button3 hover">Progress</button></a>
	</div>
</div>
</body>
</html>
