<html>
<head>
	<title>Nimbus</title>
			<link href="css\index.css" rel="stylesheet">
</head>
<div class="container">
	<img src="https://i.imgur.com/qJJGp11.png" style="width:60%;">
	<div class="centered">Nimbus</div>
</div>
<body>
<div id="center">
	<div>
		<a href="/reflect"><button class="button1 hover"><img src="https://i.imgur.com/5ZiA6fw.png"></button></a>
		<div id="container">
		<p class="bottom-left">Reflect</p>
	</div>
	</div>
	<div>
		<a href="/affirmations"><button class="button2 hover"><img src="https://i.imgur.com/vHRO5k6.png"></button></a>
	<div id="container">
		<p class="bottom-right">Affirmations</p>
	</div>
	</div>
	<div>
		<a href="/progress"><button class="button3 hover"><img src="https://i.imgur.com/p1tmlEV.png"></button></a>
		<div id="container">
			<p class="bottom-center">Progress</p>
		</div>
	</div>
</div>
</body>
</html>
