<html>
<head>
	<title>Nimbus</title>
			<link href="css\index.css" rel="stylesheet">
</head>
<div class="container">
	<img src="https://i.imgur.com/qJJGp11.png" style="width:60%;">
	<div class="centered">Nimbus</div>
</div>
<body>
<div id="center">
	<div>
		<a href="/reflect"><button class="button1 hover"><img src="https://i.imgur.com/5ZiA6fw.png"><p class="reflect">Reflect</p></button></a>
	</div>
	<div>
		<a href="/affirmations"><button class="button2 hover"><img src="https://i.imgur.com/vHRO5k6.png"><p class="affirmation">Affirmation</p></button></a>
	</div>
	<div>
		<a href="/progress"><button class="button3 hover"><img src="https://i.imgur.com/p1tmlEV.png"><p>Progress</p></button></a>
	</div>
</div>
</body>
</html>
