<html>

<head>
    <title>Nimbus</title>

    <link href="css\login.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>

    <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = 'https://connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.12&appId=950520648447621&autoLogAppEvents=1';
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>

    <div class="logo">
        <img src="https://i.imgur.com/qJJGp11.png" style="width:60%;">
    </div>

    <div id="name">
        <h1>Nimbus</h1>
    </div>

    <div>
        <input id="username" type="text" placeholder="Username">
        <input id="password" type="password" placeholder="Password">
    </div>

    <div class="loginButton">
        <a href="/">
            <button id="log">Log In</button>
        </a>
    </div>

    <div class="fbLogin">
        <h2 class="fbName"></h2> 
        <img id="photo" class='img-responsive'/>
        <p class="facebookLogin">
            <fb:login-button scope="public_profile,email" onlogin="checkLoginState();">
            </fb:login-button>
        </p>
        <a href="/">
            <button id="continue">Continue</button>
        </a>
    </div>

    <script src="https://code.jquery.com/jquery.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    {{> facebook}}
    <script src="/js/facebook.js"></script>
</body>

</html>