<html>

<head>
    <title>Nimbus</title>

    <link href="css\login.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

</head>


<body>

    <div class="logo">
        <img src="https://i.imgur.com/qJJGp11.png" style="width:60%;">
    </div>

    <div id="name">
        <h1>Nimbus</h1>
    </div>

    <div>
        <input id="username" type="text" placeholder="Username">
        <input id="password" type="password" placeholder="Password">
    </div>

    <div class="loginButton">
        <a href="/">
            <button id="log">Log In</button>
        </a>
    </div>

</body>

</html>