<html>
<head>
    <title>Reflect</title>

    <link href="css\reflect.css" rel="stylesheet">
</head>

<body>
    <div id="title">
        <h3>List everything clouding your mind.</h3>
    </div>

    <div id="userInput">
        <form>
             <input type="text" name="task"><br>
             <input type="submit" value="Submit">
        </form>
    
    </div>

    <div id="continueDiv">
        <a href="/selectReflect">
        <button>
            Continue    
        </button>
        </a>
    </div>
</body>

</html>