<html>
<head>
    <title>Reflect</title>

    <link href="css\reflect.css" rel="stylesheet">
</head>

<body>
    <a href="/">
        <button>
            <img src = "https://i.imgur.com/DU262FL.png">
        </button>
    </a>
    
    <div id="title">
        <h3>List everything clouding your mind.</h3>
    </div>

    
    <div id="imgDiv">

        <img src="https://s3-us-west-1.amazonaws.com/teamreflection/whiteCloud.png">
    </div>
    
    <div id="list">
        <ul id="UList">
            <li>Math Midterm</li>
            <li>Homework</li>
        </ul>        
    </div>



    <div id="userInput">
        <!--<form>
             <input type="text" name="task"><br>
             <input type="submit" value="Submit">
        </form>-->
        <input type="text" id="myInput" placeholder="Enter what is on your mind...">
        <span onclick="addList()" class="addButton">+</span>
    </div>

    <div id="continueDiv">
        <a href="/selectReflect">
        <button onclick="nextPage()">
            Continue    
        </button>
        </a>
    </div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/reflect.js"></script>
</body>

</html>