<html>
<head>
    <title>Select</title>

    <link href="css\selectReflect.css" rel="stylesheet">
</head>

<body>

    <div id="title">
        <h3>Select the most important</h3>
    </div>
   

    <div id="continueDiv">
        <a href="/evaluateReflect">
        <button>
            Continue
        </button>
        </a>
    </div>
</body>

</html>