<html>
<head>
    <title>Select</title>

    <link href="css\selectReflect.css" rel="stylesheet">
    <!--meta name="viewport" content="width=device-width, initial-scale=1.0">-->
</head>

<!--div class="homeButton">
        <a href="/">
            <button id="home">
                <img src = "https://i.imgur.com/DU262FL.png">
            </button>
        </a>
</div>-->

<body>

    <div id="title">
        <h3>Select the most important</h3>
    </div>

    <div id="imgDiv">
        <img src="https://s3-us-west-1.amazonaws.com/teamreflection/whiteCloud.png">
    </div>

    <div id="list">
        <ul id="UList">
        </ul>        
    </div>
   

    <div id="continueDiv">
        <a href="/evaluateReflect">
        <button>
            Continue
        </button>
        </a>
    </div>

    <div class="backButton">
        <a href="/reflect">
            <button id="back">Back</button>
        </a>
    </div>

    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/selectReflect.js"></script>
</body>

</html>