<html>
<head>
    <title>Steps</title>

    <link href="css\stepsReflect.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<!--div class="homeButton">
        <a href="/">
            <button id="home">
                <img src = "https://i.imgur.com/DU262FL.png">
            </button>
        </a>
</div>-->

<body>

    <div id="title">
        <h3>Actionable Steps</h3>
    </div>

    <div id="list">
        <ul id="UList">
            <li>Review Podcasts</li>
            <li>Redo Homework Problems</li>
            <li>Attend Review Discussion</li>
        </ul>        
    </div>

    <div id="userInput">
        <!--<form>
             <input type="text" name="task"><br>
             <input type="submit" value="Submit">
        </form>-->
        <input type="text" id="myInput" placeholder="List a step you need to take.">
        <span onclick="addList()" class="addButton">+</span>
    </div>

    <div>
        <a href="/progress">
        <button id="progressButton" onclick="nextPage()">
            View Progress
        </button>
        </a>
    </div>


    <div class="backButton">
        <a href="/evaluateReflect">
            <button id="back">Back</button>
        </a>
    </div>

    
    <script src="js/jquery-1.11.0.js"></script>
    <script src="js/bootstrap.js"></script>
    <script src="js/stepsReflect.js"></script>
</body>

</html>