<html>
<head>
    <title>Steps</title>

    <link href="css\stepsReflect.css" rel="stylesheet">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>

<div class="homeButton">
        <a href="/">
            <button id="home">Home</button>
        </a>
</div>

<body>

    <div id="title">
        <h3>Actionable Steps</h3>
    </div>
   

    <div id="continueDiv">
        <a href="/progress">
        <button>
            View Progress
        </button>
        </a>
    </div>

    
</body>

</html>