<html>
<head>
    <title>Steps</title>

    <link href="css\stepsReflect.css" rel="stylesheet">
</head>
<body>

    <div id="title">
        <h3>Break your goal down</h3>
    </div>
   

    <div id="continueDiv">
        <a href="/">
        <button>
            Done
        </button>
        </a>

    </div>
</body>

</html>