#myInput {
	width: 60%;
	border: 1px solid #3EBDCF;
	box-sizing: border-box;
}

#uList li {
    padding: 2%;
}

.closeButton {
    position:absolute;
    right: 10%;
    background-color: #f44336;
    z-index: 1000;

}

.closeButton:hover {
    background-color: salmon;
}


.addButton {
    font-size: 30px;
    background-color: #3EBDCF;
    font-family:verdana;
    text-align: center;
    border-radius:15%;
    color: white;
    margin-left: 5%;
}

#myInput {
    width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #3EBDCF;
    box-sizing: border-box;
}

.doneButton {
    float:left;
    margin-left:58%;
}
#done {
    margin-top: 50%;
    font-size: 15px;
    background-color:#3EBDCF;
    color:white;
    width:135%;
    height:5%;
    border-radius:15%;
    border:white;
}


#title {
    text-align: center;
    font-family:verdana;
    color:#3EBDCF;
}