body{


}
h1 {
    text-align: center;
    font-family:verdana;
    color:#3EBDCF;
}
h3 {
    text-align: center;
    font-family:verdana;
    color:white;    

}

h4{
    margin-left: 25%;
    margin-top:20%;
    font-size: 40px;
    font-family:verdana;
    color:white;
}

#backgroundimage{
    background-position:center;
    margin-top:30%;
    height:100%;
    max-width:100%;
    margin-left:5%;
    background: url(https://s3-us-west-1.amazonaws.com/teamreflection/Cloud.png);
    background-repeat: no-repeat;
    background-size:contain;
}

/*#affirmationMessageDiv {
    max-width:100%;
    height:100%;
    border: solid 2px; 
    text-align: center;
    position: relative;
    margin-left:40px;
    background-color: #3EBDCF;

}*/

#message {
    position: relative;
    color:white;
    font-size: 30px;
    font-family: verdana;
    margin-left:40%;
}

#messageDiv {
    position: relative;
    top:20%;
}

#rollButton {
    position: relative;
    background-color: #1975D1;
    border: none;
    color: white;
    position: relative;
    width:300px;
    height:70px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 24px;
    font-weight:bold;
    cursor: pointer;
    margin-left:30%;
    margin-top:80%;

}

#editButton
{
    position:relative;
    width:5px;
    height:5px;
    margin-top:15%;
    margin-left:80%;
}

#rollDiv {
    position: relative;
    /*top: -250px;
    left:400px;*/

}

#continueDiv {
    text-align: center;
}

#submissions {
    position: relative;
    color:white;
    font-size: 30px;
    font-family: verdana;

}
input[type=text] {
    width: 30%;
    height: 100px;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}
input[type=submit] {
    width: 20%;
    background-color:#1975D1;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:verdana;
    font-weight:bold;
}
.box {
    max-width:100%;
    max-height:100%;
    margin:auto;
}
.homebutton{
    margin-left:8%;
}