h1{
	margin-left:35%;
	font-size:15px;
	font-family:verdana;
	margin-top:-20%;
	color:white;
	font-weight:lighter;
}

img {
	margin-top:15%;
	margin-left:15%;
}
.logo {
}

#username {
	margin-top:30%;
	margin-left:6%;
	width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #3EBDCF;
    box-sizing: border-box;
}
#password{
	margin-top:5%;
	margin-left:6%;
	width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #3EBDCF;
    box-sizing: border-box;
}

#log{
	color:white;
	font-family: verdana;
	font-weight:bold;
	font-size:10px;
	text-align:center;
	padding-left:10px;
}
.loginButton {

	/*border:2px solid #000000;
	width:20%;
	height:3%;
	text-align:center;
	margin-top:10%;
	margin-left:30%;*/
	 width: 20%;
    background-color:#3EBDCF;
    padding: 14px 20px;
    margin-top:10%;
	margin-left:25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:verdana;
    font-weight:bold;


}


