h1{
	margin-left:35%;
	font-size:15px;
	font-family:verdana;
	margin-top:-20%;
	color:white;
	font-weight:lighter;
}

img {
	margin-top:15%;
	margin-left:15%;
}

#username {
	margin-top:30%;
	margin-left:6%;
	width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #3EBDCF;
    box-sizing: border-box;
}
#password{
	margin-top:5%;
	margin-left:6%;
	width: 80%;
    padding: 12px 20px;
    display: inline-block;
    border: 2px solid #3EBDCF;
    box-sizing: border-box;
}

#log{
	color:white;
	font-family: verdana;
	font-weight:bold;
	font-size:10px;
	text-align:center;
	padding-left:10px;
}
.loginButton {
	width: 20%;
    background-color:#3EBDCF;
    padding: 14px 20px;
    margin-top:10%;
	margin-left:25%;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-family:verdana;
    font-weight:bold;
}

.facebookLogin {
	margin-left:30%;
	margin-top:-25%;
}
#photo {
	margin-top:30%;
	width:60%;
}

#continue {
	display: none;
	margin-top:5%;
	margin-left:35%;
	border: 2px solid #3EBDCF;
    box-sizing: border-box;
}


