
#title {
    text-align: center;
    color: #3EBDCF;
    margin-bottom:10%;
    font-family:verdana;
}


h3 {
    font-size: 45px;
    font-family:verdana;

}

#userInput {
    text-align: center;
    position: relative;
}

#continueDiv {
    position: relative;
    float: right;
    top: 10%;
}

#continueDiv button {
    font-size: 45px;
    height:7%;
    width:115%;
    border-radius:10%;
    background-color: #3EBDCF;
    color: white;
    margin-right:15%;
}


#imgDiv {
    position: relative;
    width: 100%;
    height: 50%;
   /* border: solid 1px;*/
    top: 0;
    z-index: -1;
}


#imgDiv img {
    display: block;
    margin: auto;   
    max-width: 100%;
    max-height: 100%;
    position: relative;

}

#list {
    position: absolute;
    top: 16%;
    left: 16%;
    z-index: 1000;
    text-align: center;
    margin-top:20%;
    /*border: salmon solid 1px;*/
    width: 70%;
    font-size: 40px;
    font-family:verdana;
    color: #3EBDCF;


}

#uList li {
    padding: 2%;
    background-color:white;
}

ul li:hover {
}

input {
    width: 90%;
    float: left;
    font-size: 30px;
    height: 5%;
    font-family:verdana;

}
.addButton {
    width: 10%;
    float: left;
    font-size: 50px;
    background-color: #3EBDCF;
    height: 4%;
    font-family:verdana;
    text-align: center;
    border-radius:15%;
    color: white;

}

ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.closeButton {
    position:absolute;
    right: 0;
    background-color: red;
    width:10%;
    z-index: 1000;
    color:white;

}

.closeButton:hover {
    background-color: salmon;
}